<div>
    <h2 id="page-heading">
        <span>Food Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-food-item" [routerLink]="['/food-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Food Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="foodItems?.length === 0">
        <span>No foodItems found</span>
    </div>
    <div class="table-responsive" *ngIf="foodItems?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Foodname</span></th>
            <th><span>Cost</span></th>
            <th><span>Image</span></th>
            <th><span>Capacity</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let foodItem of foodItems ;trackBy: trackId">
                <td><a [routerLink]="['/food-item', foodItem.id, 'view' ]">{{foodItem.id}}</a></td>
                <td>{{foodItem.foodname}}</td>
                <td>{{foodItem.cost}}</td>
                <td>
                    <a *ngIf="foodItem.image" (click)="openFile(foodItem.imageContentType, foodItem.image)">
                        <img [src]="'data:' + foodItem.imageContentType + ';base64,' + foodItem.image" style="max-height: 30px;" alt="foodItem image"/>
                    </a>
                    <span *ngIf="foodItem.image">{{foodItem.imageContentType}}, {{byteSize(foodItem.image)}}</span>
                </td>
                <td>{{foodItem.capacity}}</td>
                <td>
                    {{foodItem.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/food-item', foodItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/food-item', foodItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'food-item', { outlets: { popup: foodItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
